/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lexend:wght@100..900&display=swap');


/* CSS varieables */
:root {
    --primary-font: 'Italianno', serif;
    --secondary-font: 'Lexend', sans-serif;
    --nav-color: #e1d0a5;
    --background-color: #edeae6;
    --text-color: #41281a;
    --text-hover-color: #836a5c;
    --button-bg-color: #93402a;
    --button-text-color: #fff;
    --button-hover-color: #cd976f;   
}


/* Global styles */
body {
    font-family: var(--secondary-font);
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 113px; /* Pushes the top of the header down under fixed navbar*/
}
h1 {
    font-weight: 500;
}
.btn-css {
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    text-transform: uppercase;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-css:hover {
    background-color: var(--button-hover-color);
}
.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/* Navbar */
.navbar {
    background-color: var(--nav-color);
}
.navbar-brand img {
    width: 220px;
    height: 87px;
}



/* Header */
#header h1 {
    font-weight: 100;
}
#header .lead {
    font-weight: 150;
}
#header i {
    font-size: 1rem;
}

/* Spa Programs section */
.all-spa {
    font-size: 26px;
    color: var(--text-color);
    transition: color 0.2s ease-in-out;
}
.all-spa:hover {
    color: var(--text-hover-color);
}
.card .btn {
    justify-content: center;
}

/* Footer / contact info */
#contact {
    background-color: var(--nav-color);
    color: var(--text-color);
    padding-bottom: 3rem;
}
.contact-info, .opening-time {
    text-decoration: underline var(--text-color) 1px;
}
#contact i {
    font-size: 1.2rem;
    margin-right: 10px;
}
#contact .social-links i {
    color: var(--text-color);
    font-size: 2rem;
    margin-right: 15px;
    transition: color 0.3s ease-in-out; /* Add transition effect to make hovor colour change smoothy*/
}
#contact .social-links i:hover {
    color: var(--text-hover-color);
}
#contact .table-warning * {
    background-color: transparent;
    color: var(--text-color);
}
#contact .welcome {
    font-family: var(--primary-font);
}


/* Media Queries */

/* For small screen size (320px and up) */
@media screen and (min-width: 320px) {
    #contact {
        text-align: center;
    }
    #contact .welcome {
        font-size: 1.5rem;
        margin-top: 20px;
    }
}

/* For screen size (576px and up) */
@media screen and (min-width: 576px) {
    #contact {
        text-align: center;
    }
    #contact .welcome {
        font-size: 2.5rem;
        margin-top: 20px;
    }
}

/* For large screen size (992px and up) */
@media screen and (min-width: 992px) {
    #contact {
        text-align: left;
    }

    #contact .welcome {
        font-size: 4rem;
        margin-top: 20px;
    }
}

/* For extra large screen size (1200px and up) */
@media screen and (min-width: 1200px) {
  .card {
    height: 674.02px;
    margin-top: 0;
    margin-bottom: 0;
  }
}