/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lexend:wght@100..900&display=swap');


/* CSS varieables */
:root {
    --primary-font: 'Italianno', serif;
    --secondary-font: 'Lexend', sans-serif;
    --nav-color: #e1d0a5;
    --background-color: #edeae6;
    --text-color: #41281a;
    --button-bg-color: #93402a;
    --button-text-color: #fff;
    --button-hover-color: #cd976f;   
}


/* Global styles */
body {
    font-family: var(--secondary-font);
    background-color: var(--background-color);
    color: var(--text-color);
}
h1 {
    font-weight: 500;
}


/* Navbar */
.navbar {
    background-color: var(--nav-color);
}
.navbar-brand img {
    width: 190px;
    height: auto;
}



/* Header */
#header h1 {
    font-weight: 100;
}
#header .lead {
    font-weight: 150;
}
#header i {
    font-size: 1rem;
}